@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GeneralSans-Regular';
    src: url('../assets/fonts/GeneralSans-Regular.woff2') format('woff2'),
         url('../assets/fonts/GeneralSans-Regular.woff') format('woff'),
         url('../assets/fonts/GeneralSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'GeneralSans-Semibold';
    src: url('../assets/fonts/GeneralSans-Semibold.woff2') format('woff2'),
         url('../assets/fonts/GeneralSans-Semibold.woff') format('woff'),
         url('../assets/fonts/GeneralSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'GeneralSans-Bold';
    src: url('../assets/fonts/GeneralSans-Bold.woff2') format('woff2'),
         url('../assets/fonts/GeneralSans-Bold.woff') format('woff'),
         url('../assets/fonts/GeneralSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }




html {
    width: 100dvw;
    height: 100dvh;
    @apply
    bg-black
    fixed
    flex
    justify-center
    items-center;

}

.bodyView {
    height: 100dvh;
    background-color: whitesmoke;
    max-width: 470px;
    @apply
    overflow-hidden
    relative
    top-0
    rounded-lg
    left-0;
}

@media  (min-width: 1000px) {
    .bodyView {
        max-width: 30vw;
    }
}

* {
    font-family: 'GeneralSans-Regular';
}

header {
    @apply
    z-10
    transition-all
    duration-300
    relative;
}

header.blur, section.blur {
    @apply
    blur-sm;
}


header h1 {
    @apply
    p-2;
}

header .highlights {
    @apply
    p-2
    overflow-x-scroll
    overflow-y-hidden
    aspect-dosAuno
    flex
    flex-wrap
    flex-row
    gap-2;
}

header .highlights .highlight {
    width: calc(33.333% - 6px);
    background-position: -18%;
    @apply
    cursor-pointer
    opacity-80
    bg-blend-multiply
    bg-no-repeat
    bg-contain
    aspect-video
    rounded-lg
    px-3
    pt-2
    pb-3
    bg-purple-100
    flex
    flex-col
    justify-between;
}
header .highlights .highlight.active {
    @apply
    shadow-md
    border
    border-solid
    border-purple-300
    opacity-100
}
header .highlights .highlight h4 {
    font-size: clamp(10px, 3.5vw, 20px);
    line-height: clamp(10px, 3.5vw, 20px);
    font-family: 'GeneralSans-Semibold';
}

header .highlights .highlight div {
    font-size: clamp(20px, 9vw, 40px);
    line-height: clamp(20px, 8vw, 40px);
    font-family: 'GeneralSans-Bold';
    @apply
    text-right;
}

header .highlights .highlight.counTasks {
    /* background-image: url(../assets/images/folder.png); */
    height: 50px;
    @apply
    w-full
    flex-row
    text-purple-800
    bg-purple-200;
}

header .highlights .highlight.counTasksLow {
    background-image: url(../assets/images/flag.png);
    @apply
    items-end
    text-green-800
    border-green-300
    bg-green-200;
}

header .highlights .highlight.counTasksMedium {
    background-image: url(../assets/images/rayo.png);
    @apply
    items-end
    text-orange-800
    border-orange-300
    bg-orange-200;
}

header .highlights .highlight.counTasksHigh {
    background-image: url(../assets/images/fuego.png);
    @apply
    items-end
    text-red-800
    border-red-300
    bg-red-200;
}

h1 {
    font-size: clamp(50px, 14vw, 70px);
    line-height: clamp(50px, 14vw, 70px);
    letter-spacing: .01vw;;
    font-family: 'GeneralSans-Bold';
    @apply
    bg-[conic-gradient(at_bottom_left,_var(--tw-gradient-stops))] from-violet-400 via-rose-100 to-zinc-800 bg-clip-text text-transparent
}

h2 {
    font-size: clamp(20px, 6vw, 30px);
    line-height: clamp(20px, 6.5vw, 30px);
    letter-spacing: -.06vw;
    font-family: 'GeneralSans-Semibold';
}

h3 {
    font-size: clamp(20px, 6vw, 30px);
    line-height: clamp(20px, 6.5vw, 30px);
    letter-spacing: -.06vw;
    font-family: 'GeneralSans-Semibold';
}

.nav {
    height: 100px;
    @apply
    w-full
    absolute
    bottom-0
   bg-gradient-to-t
   from-white
   to-transparent
    m-auto
    p-2
    flex
    justify-center
    items-end;
}

button.add {
    @apply
    bg-purple-500
    text-white
    w-full;
}


.tasks-container {
    height: 60dvh;
    @apply
    relative
    w-full
    bottom-0
    overflow-hidden
    overflow-y-scroll
    pb-20;
}


.task {
    @apply
    cursor-pointer
    hidden
    bg-white
    m-2
    mb-4
    p-4
    pt-6
    rounded-md
    shadow-md
    border
    border-solid
    border-indigo-50
    shadow-indigo-100;
}

.task .categories {
    @apply
    gap-1;
}

.task.visible {
    @apply
    block;
}

.task .header-task {
    @apply
    mb-0;
}

.task .date-time {
    @apply
    flex
    gap-2;
}

.task .header-task {
    @apply
    items-start;
}
.task .header-task h2 {
    @apply
    mb-2;
}

.task .date-time {
    @apply
    text-gray-400
    mb-2;
}

.task .categories {
    @apply
    flex 
    flex-wrap;
}

.header-task {
    @apply
    mb-2
    gap-4
    flex
    items-center
    justify-between;
}

.priority {
    font-size: clamp(10px, 3vw, 15px);
    line-height: clamp(10px, 3vw, 15px);
    @apply
    flex
    justify-center
    items-center
    py-1
    px-3
    bg-gray-100
    rounded-full;
}

.priority.baja {
    @apply
    bg-green-200
    text-green-800;
}

.priority.media {
    @apply
    bg-orange-200
    text-orange-800;
}

.priority.alta {
    @apply
    bg-red-200
    text-red-500;
}

.task-detail .date-time {
    @apply
    flex
    gap-4
    text-gray-400;
}

.task-detail {
    width: 100%;
    height: 100dvh;
    @apply
    p-6
    pointer-events-none
    backdrop-blur-md
    z-10
    top-0
    left-0
    transition-all
    ease-in-out
    duration-700
    opacity-0
    absolute
    flex
    justify-center
    items-center;
}

.task-detail .section-wrapper {
    @apply
    w-full
    translate-y-6
    bg-white
    p-4
    shadow-md
    rounded-md;
}

.task-detail.opened {
    @apply
    pointer-events-auto
    opacity-100
    translate-x-0
}

.task-detail .actions-task {
    @apply
    border-t
    border-solid
    border-gray-200
    mt-4
    pt-4
    flex
    gap-2
    justify-end;
}

.task-detail p {
    @apply
    mb-2;
}

form {
    top: 100dvh;
    @apply
    z-10
    p-3
    duration-700
    ease-in-out
    origin-top
    transition-transform
    translate-y-0
    bg-white
    w-full
    absolute
    left-0
    border
    border-solid
    border-blue-100
    rounded-2xl;
}

form h3 {
    @apply
    text-gray-800
    mb-2;
}
.form_section {
    @apply
   
    bg-white
    flex
    flex-col
    py-2
    mb-2
    rounded-2xl;
}

.form_section.horizontal {
    @apply
    gap-2
    flex-row;
}

.form_section.horizontal div{
    @apply
    w-1/2;
}

form.visible {
    @apply
    z-10
    -translate-y-full;
}

label {
    font-size: clamp(10px, 3vw, 15px);
    line-height: clamp(10px, 3vw, 15px);
    @apply
    pb-2;
}

input {
    @apply
    w-full
    p-2
    border
    border-solid
    border-gray-200
    rounded-xl;
}

.categories-container {
    column-gap: 4px;
    @apply
    flex
    flex-wrap;
}

.new-tag {
    @apply
    flex
    gap-2;
}
.tag-group {
    font-size: 12px;
    line-height: 12px;
    @apply
    cursor-pointer
    text-blue-500
    flex
    items-center
    bg-blue-200
    overflow-hidden
    pr-3
    mb-2
    rounded-full;
}

.tag-group.selected .new-tag {
    @apply
    text-blue-100
    bg-blue-400;
}

.tag {
    font-size: clamp(10px, 3vw, 15px);
    line-height: clamp(10px, 3vw, 15px);
    @apply
    cursor-pointer
    w-fit
    bg-gray-200
    px-2
    py-1
    rounded-2xl
    
    mb-2
    ;
}

.new-tag {
    font-size: clamp(10px, 3vw, 15px);
    line-height: clamp(10px, 3vw, 15px);
    @apply
    w-fit
    bg-gray-200
    px-2
    py-1
    rounded-2xl
    mr-2
    ;
}

.tag.selected {
    @apply
    bg-blue-400
    text-blue-100;
}

button {
    font-family: 'GeneralSans-Semibold';
    font-size: clamp(20px, 6vw, 30px);
    line-height: clamp(20px, 6.5vw, 30px);
    letter-spacing: -.06vw;
    @apply
    cursor-pointer
    py-3
    px-5
    bg-black
    text-white
    rounded-full;
}

.button--primary {
    @apply
    w-full
    bg-purple-500;
}
.button--secondary {
    font-family: 'GeneralSans-Regular';
    font-size: clamp(12px, 4vw, 20px);
    line-height: clamp(12px, 4vw, 20px);
    @apply
    py-2
    px-5;
}

button.delete {
    @apply
    bg-red-100
    text-red-600;
}

button.edit {
    @apply
    bg-blue-100
    text-blue-600;
}

.close-bar {
    @apply
    border-b
    border-gray-200
    mb-4
    flex
    justify-between;
}


.button--close {
    font-family: 'GeneralSans-Regular';
    font-size: clamp(12px, 4vw, 20px);
    line-height: clamp(12px, 4vw, 20px);
    @apply
    cursor-pointer
    rounded-full
    text-purple-700
    px-0
    pt-2
    pb-3;
}